* {
    box-sizing: border-box;
}

.rolloverGallery {
    display: grid;
    max-height: 100vh;
    max-height: 100svh;
}

.rolloverGallery__bigPicture {
    justify-self: center;
    width: min(max(50rem, 70%), 100%);
    height: auto;
}

.rolloverGallery__smallPictures {
    display: flex;
    justify-content: center;
    gap: .5rem;
    flex-wrap: wrap;
    
    width: min(50rem, 100%);
    padding: .5rem;
    margin: auto;
}

.rolloverGallery__smallPictures img {
    width: max(2rem, 15%);
    height: auto;
    border-radius: 5%;
}
